.card {
  background-color: #1a202c; /* bg-gray-900 */
  padding: 1rem; /* p-4 */
  border-radius: 0.75rem; /* rounded-lg */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06); /* shadow-lg */
  text-align: center; /* text-center */
  margin: 0.5rem; /* margin between cards */
  max-width: 100%;
  box-sizing: border-box; /* Ensures padding is included in the total width */
}

.card img {
  width: 100%; /* full width */
  height: auto; /* maintain aspect ratio */
  max-height: 20rem; /* limit max height */
  object-fit: cover; /* cover to fill the container without losing aspect ratio */
  margin-bottom: 0.5rem; /* space between image and text */
  border-radius: 0.5rem; /* rounded-md */
}

.card p {
  font-size: 1rem; /* text-lg */
  font-weight: 500; /* font-medium */
}
