.card {
  background-color: #1a202c; 
  padding: 1rem;
  border-radius: 0.75rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06); 
  text-align: center;
  margin: 0.5rem; 
  max-width: 100%;
  box-sizing: border-box;
}

.card img {
  width: 100%; 
  height: auto;
  max-height: 20rem; 
  object-fit: cover;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem; 
}

.card p {
  font-size: 1rem; 
  font-weight: 500; 
}
